<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="StockFlow Automation Test Suite">
    <test name="Login Tests">
        <classes>
            <class name="com.stockflow.tests.LoginTest"/>
            <class name="com.stockflow.tests.ProductTest"/>
        </classes>
    </test>
</suite>